<!DOCTYPE html>
<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<button id="myBtn">Click me!</button>
<script>
  $
  let state = true;
  document.getElementById("myBtn").disabled = true; 
  const socket = io.connect('http://localhost');
  document.getElementById("myBtn").disabled = false; 
  document.getElementById("myBtn").addEventListener("click", () => {
      state = !state;
      console.log(state);
      socket.emit('stateTrigger', { myState: state });
    }); 
  /*socket.on('event', (data) => {
    //enter logic here
  });*/

</script>
  </body>
</html>
